
.pad-1{
    padding: 1rem;
}

.centered{
    text-align: center;
}

.end-item{
    text-align: end;    
}

.font-50{
    font-size: 50px;
}

.font-25{
    font-size: 25px;
}

.sunny{
    font-size: 5rem;
    color: yellow;
    filter: drop-shadow(1px 1px 10px rgb(116, 116, 4));
}

.moon{
    font-size: 5rem;
    color: white;
    filter: drop-shadow(1px 1px 10px rgb(100, 100, 100));
}